<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>userchk</display-name>

	<context-param>
		<description>Ldap connection string where to check for users names.</description>
		<param-name>ldapUrl</param-name>
		<param-value>ldap://ldap.domain.com:389</param-value>
	</context-param>
	<context-param>
		<description>User name to bind with.</description>
		<param-name>username</param-name>
		<param-value>domain\username</param-value>
	</context-param>
	<context-param>
		<description>Password for username above.</description>
		<param-name>password</param-name>
		<param-value>strong_password</param-value>
	</context-param>
	<context-param>
		<description>Search base where to start user id search.</description>
		<param-name>searchBase</param-name>
		<param-value>OU=users,DC=domain,DC=com</param-value>
	</context-param>

	<listener>
		<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>
	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/rest</param-value>
	</context-param>

</web-app>